In [23]:
import pandas as pd

In [24]:
import numpy

# 5.1 Introduction to pandas Data Structures

### Series

In [25]:
obj = pd.Series([4, 7, -5, 3])

In [26]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

And so on...

**Trying a bold markdown**

*Italic*

# Heading 1

## HEADING 2

# Quick Reminder on Markdown
### Use different amounts of pound signs for different heading emphasis
## Basic text formatting:
To make text **bold**, or *italic*, or ***bold and italic*** use stars.
> To make a block quote, use a carrot in the front

1. Lists can be made
1. With the same or different number each time
1. It will automatically renumber

- A single dash
- can be used
- for a bullet point list

Remember to set the cell type from Code to Markdown
and press the **Run** button to apply the formating.

The keyboard shortcut for markdown is m/M after intiating a new cell.

### SERIES

The default index starts at 0

In [27]:
obj. values

array([ 4,  7, -5,  3])

.index describes the 3 'S' of range

In [28]:
obj.index

RangeIndex(start=0, stop=4, step=1)

To assign value keys to the index:

In [29]:
obj2 = pd.Series([4, 7, -5, 3], index= ['d', 'b', 'a', 'c'])

In [30]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [31]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

Can use single or sets of values:

In [32]:
obj2['a']

-5

In [33]:
obj2['d'] = 6

In [34]:
obj2[['c', 'a', 'd',]]

c    3
a   -5
d    6
dtype: int64

In [35]:
obj2[obj2 > 0]

d    6
b    7
c    3
dtype: int64

In [36]:
obj2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [38]:
import numpy as np

In [39]:
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [40]:
'b' in obj2

True

In [41]:
'e' in obj2

False

In the following dict I entered the data as in the book, but theirs organized alphabetically, and mine stayed i entry order.

In [42]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [43]:
obj3 = pd.Series(sdata)

In [44]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [45]:
states = ['California', 'Ohio', 'Oregon', 'Texas']

In [46]:
obj4 = pd.Series(sdata, index=states)

In [47]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [48]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [49]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [50]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [51]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [52]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [53]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [ ]:
obj4.na